{% extends 'base.html'%}
{% block title%}
    Delete
{% endblock %}

    {% block content %}
        <div class="container mt-5">
            <h2 class="text-danger mb-4">Are you sure you want to delete student {{ student.first_name }} {{ student.last_name }}?</h2>


            <form method="post" class="bg-light p-4 rounded border">
                {% csrf_token %}
                <div class="form-group">
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <a href="{% url 'student_list' %}" class="btn btn-secondary">Cancel</a>
                </div>
            </form>
        </div>
    {% endblock %}

